pandas
ipython
Flask
google-cloud
google-cloud-storage==2.14.0
fsspec==2024.2.0
gcsfs==2024.2.0
google-cloud-pubsub
python-dotenv
Flask-MySQLdb
Flask-SQLAlchemy
pymysql
python-dotenv
python-jose 
flask-jwt-extended
fastapi
bcrypt
passlib
phpserialize
cryptography
gunicorn
